

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#0f0e0f, #2a2b2c, #5c5c5e, #b6b7bd);   flex-direction: column; 
}

.retangulo {
    width: 600px;
    height: 350px;
    background-color: rgb(228,3,16);
    box-shadow: 0px 0px 10px 10px black;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    line-height: 5vh;
    color: azure;   
    letter-spacing: 8px;
}

.imagem {
    position: absolute;
    margin-top: 50px;
    margin-right: 15px;
}